<h2>Let's Create A New Routine</h2>

<%= render partial: '/errors', locals: { record: @routine} %>

<%= form_for @routine do |f| %>
    <%= f.label :Name %>
    <%= f.text_field :name %><br>

    <%= f.label :SkinType %>
    <div><%= f.select :skintype, options_for_select(["Oily", "Dry", "Normal", "Combo", "Acne Prone", "Mature", "All"])%></div><br>
    <%= f.submit "Create Routine and Add Your Steps" %>
<%end%>