<h2>Let's add a new step to your <i><b><%= @routine.name %></b></i></h2>

<%= render partial: '/errors', locals: { record: @step} %>

<%= form_for @step do |f| %>
    <%= f.label :Step_in_routine%>
    <div><%= f.text_field :name%></div><br>

    <%= f.label :Product_used%>
   <div><%= f.collection_select :product_id, Product.all, :id,  :name, prompt: true%></div><br>

    <%= f.label :Time_taken_in_minutes%>
    <div><%= f.number_field :duration%></div>

    <%= f.hidden_field :routine_id, value: @routine.id %>
    <%= f.submit%>
<%end%>