
<h2> Your Products </h2>



<%= link_to "All Products", products_path%> |
<%= link_to "Only Oil Cleansers", oil_cleanses_path%> |
<%= link_to "Only Cleansers", cleansers_path%> |
<%= link_to "Only Toners", toners_path%> |
<%= link_to "Only Treatements", treatements_path%> |
<%= link_to "Only Essences", essences_path%> |
<%= link_to "Only Ampule", ampules_path%> |
<%= link_to "Only Serums", serums_path%> |
<%= link_to "Only Eye Creams", eye_creams_path%> |
<%= link_to "Only Moisturizers", moisturizers_path%> |
<%= link_to "Only Lip Treatements", lip_treats_path%> |
<%= link_to "Only SPF", spfs_path%>|

<p><i><%= @error %></i></p>


<% @products.each.with_index(1) do |product, index| %>
    <h3><%= index %>. <%= product.name%></h3> 
    <p><%= product.use_for%> <%= link_to "More Info", product_path(product.id)%></p>   
<% end %>

|<%= link_to "Add A New Product", new_product_path %>|