<!DOCTYPE html>
<html>

<div class="topnav" id="myTopnav">
  <a href="/home" class="active">Home</a>  
  <a href="/login">Log In</a>
  <a href="/signup">Sign Up</a>
  
  <a href="/profile">Profile</a>
  <a href="/products">Your Products</a>
  <a href="/routines">Your Routines</a>
  <a href="/logout">Log Out</a>
  
  <a href="javascript:void(0);" class="icon" onclick="myFunction()">
    <i class="fa fa-bars"></i>
  </a>
</div>
  <head>
    <title>SkinCare</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
